<section class="d-flex justify-content-center">
  <ul class="list-group list-group-horizontal list-unstyled">
    <li >
      <a
        href="https://github.com/laupiFrpar"
        rel="me"
        class="btn btn-link btn-lg link-dark"
        title="Github"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <span>•</span>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/pierrelouislaunay/"
        rel="me"
        class="btn btn-link btn-lg link-dark"
        title="Linkedin"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <span>•</span>
    </li>
    <li>
      <a
        href="https://twitter.com/laupiFrpar"
        rel="me"
        class="btn btn-link btn-lg link-dark"
        title="Twitter"
      >
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
  </ul>
</section>
<section>
  <span>
    ©2022 {% if "now"|date("Y") > 2022 %} - {{ "now"|date("Y") }}{% endif %}
    <a
      href="{{ home_url }}"
      class="link-dark"
    >
      <strong>Lopi's blog</strong>
    </a>
  </span>
</section>
