<li class="mb-4">
  {# Date #}
  <span class="me-5">{% include 'partials/common/date.html.twig' %}</span>
  {# Title #}
  {% include 'partials/common/title.html.twig' with {title_level: 'span', is_link: true} %}
</li>
