<aside class="sidebar sticky-top">
  {% include 'partials/blog/sidebar/taxonomy_list.html.twig' with { taxonomy: 'category', title: 'Catégorie'} %}
  {% include 'partials/blog/sidebar/taxonomy_list.html.twig' with { taxonomy: 'tag', title: 'Mots clés'} %}
  <section>
    <h4>Flux</h4>
    <a class="btn btn-outline-dark btn-sm" role="button" href="{{ atom_url }}">
      <i class="fa fa-rss-square"></i>
      Atom 1.0</a>
    <a class="btn btn-outline-dark btn-sm" href="{{ rss_url }}">
      <i class="fa fa-rss-square"></i>
      RSS</a>
  </section>
</aside>
