@import url('https://fonts.googleapis.com/css?family=Special+Elite');

// Inspiré de https: //codepen.io/JoeHastings/pen/MOdRVm
blockquote {
  font-family: 'Special Elite', cursive;
  background: #fffdf5;
  color: #3f3f5a;
  font-size: 1.1rem;
  max-width: 750px;
  line-height: 1.4;
  position: relative;
  margin: 0 auto;
  padding: .5rem;
  padding-left: 2rem;

  cite {
    line-height: 3;
    text-align: left;

    &:before {
      content: "—";
      padding-right: 1rem;
    }
  }
}

h1 {
  &::after {
    content: "";
    display: block;
    width: 4em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-bottom: .125em solid forestgreen;
  }
}

aside {
  border-left: .25em solid forestgreen;
  height: 100%;
}

/**
 * Le sidebar avec la classe `sticky-md-top` va descendre en même temps que la
 * page. J'ai défini la propriété top pour permettre d'avoir une marge sur le
 * haut pour ne pas avoir l'impression que le sidebar est collé au navigateur.
 */
.sidebar {
  top: 1rem;
}

#content-body {
  min-height: 36em;
}

#list-posts {
  min-height: 24em;

  a {
    color: $dark;
    // background-color: forestgreen;

    &:hover {
      color: forestgreen;
      text-decoration-color: forestgreen;
    }
  }

  time {
    float: left;
    width: 200px;
  }
}
