{% extends 'partials/base.html.twig' %}

{#% if uri.param('category') %}
  {% set page_title = theme_config.listing_title.taxonomy.category | default('Category: ') ~ uri.param('category') %}
{% elseif uri.param('tag') %}
  {% set page_title = theme_config.listing_title.taxonomy.tag | default('Tag: ') ~ uri.param('tag') %}
{% else %}
  {% set page_title = theme_config.listing_title.blog | default('Posts') %}
{% endif %#}

{% set rss_url = page.url(true) ~ page.template() ~ ".rss" %}
{% set atom_url = page.url(true) ~ page.template() ~ ".atom" %}

{# {% block title %}
  {{ page_title }} | {{ parent() }}
{% endblock %} #}

{% block feed %}
  <link rel="alternate" href="{{ atom_url }}" type="application/atom+xml" title="Feed Atom"/>
  <link rel="alternate" href="{{ rss_url }}" type="application/rss+xml" title="RSS"/>
{% endblock %}

{% block content %}
  {% set collection = page.collection() %}

  <section class="col-md-6">
    <h1 class="page-header">Articles</h1>
    <ul id="list-posts" class="list-unstyled">
      {% for child in collection %}
        {% include 'partials/blog/list-item.html.twig' with { page: child } %}
      {% endfor %}
    </ul>

    {# Pagination #}
    {% include 'partials/blog/navigation.html.twig' %}

  </section>
  <section class="col-md-3">
    <div class="mt-2">
      {% include 'partials/blog/sidebar.html.twig' %}
    </div>
  </section>
{% endblock %}
