{% extends 'partials/base.html.twig' %}

{% block content %}
  <article class="col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ home_url }}" class="link-dark">
            Accueil
          </a>
        </li>
      </ol>
    </nav>
    <header>
      {% include 'partials/common/title.html.twig' with { title_level: 'h1' } %}
      <section id="metadata" class="mb-4">
        {% include 'partials/common/date.html.twig' %}
        {% include 'partials/item/taxonomy.html.twig' %}
      </section>
    </header>

    <section id="content">
      {{ page.content|raw }}
    </section>

    {% include 'partials/item/navigation.html.twig' %}
  </article>
{% endblock %}
